* {
  margin: 0;
  padding: 0;
  font-family: serif;
  list-style: none; }

html, body {
  height: 100%; }

body {
  background-image: url(../image/bg2.jpg);
  background-repeat: no-repeat;
  background-position: center left;
  background-attachment: fixed;
  background-size: cover; }

article#main {
  height: 100%; }

nav {
  position: fixed;
  height: 100%;
  width: 240px;
  top: 0;
  left: 0;
  background-color: white;
  background: -webkit-linear-gradient(0, white 0%, rgba(255, 255, 255, 0) 100%);
  color: black; }
  nav ul {
    margin-top: 180px;
    margin-left: 10%; }
  nav li {
    line-height: 30px; }
    nav li a {
      width: 150px;
      text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.3);
      padding-left: 10px;
      font-size: 25px;
      display: block;
      text-decoration: none;
      font-family: 'Courier New'; }
      nav li a:link {
        color: black; }
      nav li a:hover {
        border-left: solid 5px rgba(77, 52, 41, 0.3); }
      nav li a:visited {
        color: black; }
    nav li ul {
      display: none;
      margin: 0;
      padding-left: 10%; }
    nav li li {
      margin: 0;
      padding: 0; }
      nav li li a {
        font-family: 'Courier New',serif;
        font-size: 20px; }

footer {
  width: 180px;
  position: fixed;
  bottom: 0;
  left: 0; }
  footer div {
    padding-bottom: 40px;
    padding-left: 20px; }
  footer p {
    font-size: small;
    color: black; }

.cf {
  display: block; }
  .cf:after, .cf:before {
    display: block;
    clear: both;
    height: 0;
    font-size: 0;
    visibility: hidden;
    content: ""; }

.active {
  border-left: solid 5px rgba(77, 52, 41, 0.3); }
